@* @using Microsoft.AspNetCore.Authorization *@
@* @inject IAuthorizationService authorizationService *@

@* xacs dinh tai khoan nao du quuyen(vidu admin thi moi hien Menu) *@
@* @{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
} *@

@* @if(result.Succeeded){ *@
<div class="dropdown ">
    <a class="btn border-drop " style="margin: 0px;" href="#" id="managedropdownmenu" data-bs-toggle="dropdown">
        <img src="~/Icon/menu-bar.png">

    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item nav-link " asp-area="Manga" asp-controller="FavouriteComic"
            asp-action="Index">
            Danh sách yêu thích
        </a>

        <a class="dropdown-item nav-link " asp-area="Manga" asp-controller="ReadingHistory" asp-action="Index">
            Lịch sử xem
        </a>
        @* <a class="dropdown-item" asp-action="" asp-controller="" asp-area="">
            Item-3
        </a>
        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="">
            Item-4
        </a> *@
    </div>
</div>

@* } *@