@* @using Microsoft.AspNetCore.Authorization *@
@* @inject IAuthorizationService authorizationService *@

@* xacs dinh tai khoan nao du quuyen(vidu admin thi moi hien Menu) *@
@* @{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
} *@

@* @if(result.Succeeded){ *@
<div class="dropdown">
    <a class="btn border-drop " href="#" id="managedropdownmenu" data-bs-toggle="dropdown">
        Admin <img src="~/Icon/menu-bar.png">

    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        
        <a class="dropdown-item nav-link nav-link text-dark" asp-action="Index" asp-controller="User" asp-area="Identity">
            Quản lý người dùng</a>

        <a class="dropdown-item nav-link nav-link text-dark" asp-action="Index" asp-controller="Role" asp-area="Identity">
            Quản lý quyền</a>

        
        @* <a class="dropdown-item" asp-action="" asp-controller="" asp-area="">
            Item-3
        </a>
        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="">
            Item-4
        </a> *@
    </div>
</div>

@* } *@