@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";

    Layout = "_Layoutt_Login";
}



<div class="container row">
    <div class="col-md-3"></div>

    <div class="col-md-6 form ">
        <h1 class="title" style="font-size: 30px;">@ViewData["Title"].</h1>
        <p class="title" style="font-size: 20px;">
            Kiểm tra email để lấy lại mật khẩu.
        </p>

        <p>
            ==>
            <a class="title m-0 " style="font-size: 14px; " asp-action="Login"
                asp-route-returnurl="@ViewData["ReturnUrl"]"> Quay lại Đăng nhập</a>
        </p>


    </div>
    <div class="col-md-3"></div>
</div>
