@{
    ViewData["Title"] = "Trang chủ";
}

@{
    var imgUrl = "https://www.gettyimages.in/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg";
}


<div  class="row">
    <div style="background: #21A691; margin-top: -50px;" class="col-md-2 ">

    </div>

    <div  class=" col-md-10 container d-flex mt-3" style=" justify-content: center;">
        <div class="row justify-content-center">
            @for (int i = 0; i < 20; i++)
            {
                <div class="col-10 col-sm-5 col-md-3 col-lg-2 mb-3" >
                    <div class="card-cus card position-relative" style=" width: 10em; height: 200px;">

                        <div class="card-background"
                            @* style="  background-image: url('');"> *@
                            style="  background-image: url(@imgUrl);">
                        </div>

                        <div class="card-body position-absolute" style="bottom: 0; left: 0; z-index: 1; ">
                            <h6 class="card-title">Card title</h6>
                            <p class="card-text">Nội dung Card.</p>
                            <a  href="#" class=" btn-i btn">Click Card</a>
                        </div>
                    </div>
                </div>
                <br>
                
            }
        </div>
    </div>


 @* <div class="col-md-1">

    </div> *@
    
</div>
