
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #B4B4B2;
}

.nav {
  /* background: #27403E;
  border-radius: 0px 0px 15px 15px; */


  background: #27403E;
  /* border-radius: 0px 0px 15px 15px; */
  border-radius: 5px;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: rgb(221, 245, 220);
  --main-color: rgb(224, 240, 227);
  border-: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.name-branch {
  padding-left: 40px;
  color: #ffff;
  font-weight: bold;
}



.dropdown-it {}

.border-drop {
  border-radius: 15px;
  background-color: #50827e;
  border: #27403E solid 3px;
}

.border-drop:hover {
  background: #416b69;
}



.card {
  position: relative;
  overflow: hidden;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  /* Điều chỉnh độ mờ của hình nền */
  z-index: 0;
}


.search {
  
  margin-right: 0%;
  margin-left: auto;
}

.search-icon {
  width: 25%;
  height: 100%;
  border-radius: 0 5px 0px 0;

}

.search-input {
  margin-left: 3px;
  border-radius: 5px 0 0 0px;
  background: #ffff;


}


.custom-border {
  border: 1px solid #03182e;
  /* Viền rộng 5px với màu xanh */
}

.custom-shadow {
  box-shadow: 0 4px 20px rgba(8, 51, 98, 0.5);
  /* Đổ bóng mạnh với độ mờ */
}


.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  /* Nền mờ đen */
  /* padding: 10px; */
  border-radius: 5px;
}

.carousel img {
  /* max-height: 400px; Giới hạn chiều cao ảnh */
  object-fit: fill;
  /* Giữ tỷ lệ ảnh */
}

.btn-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 15%;
  padding: 30px;
  color: #fff;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity .15s ease;
}

.btn-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;

  padding: 30px;
  color: #fff;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity .15s ease;
}

.card-manga {
  bottom: 0;
  left: 0;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 60px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.img-card {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border: none
}

.img-card:hover {
  transform: scale(1.07);
}

.hover-cus:hover {
  transform: scale(1.02);
}

.name-card
{
  font-size: 14px;font-weight: 600;
}


.dropdown-menu-columns {
  column-count: 3;
  column-gap: 20px;
  width: 300px;
}

  .dropdown-menu-columns .dropdown-item {
      display: inline-block;
      width: 100%;
  }

.dropdown-menu {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}


.nav_his_fa:hover{
  background-color: #568a7067;
  border-radius: 15px;
}
.nav_his_fa{
  border-radius: 15px;
  
  font-weight: 600;
}
